<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>
<body onload="Init()">
    <div id="content">
    </div>
    <script type="text/javascript" src="~/Scripts/UIIndex.js"></script>
    <script type="text/javascript" src="~/Scripts/UIAction.js"></script>
    <script type="text/javascript" src="~/Scripts/UIResult.js"></script>
    <script type="text/javascript" src="~/Scripts/UIService.js"></script>
    <script type="text/javascript">
        var UIServices = new UIServices();
    </script>
</body>
</html>
