<div class="row">
    <div class="column">
        <textarea id="textArea">
            [
            ["Ford", "Fiesta", "Manual", "Rp. 120,000,000"],
            ["Ford", "Fiesta", "Manual", "Rp. 134,000,000"],
            ["Ford", "Fiesta", "Automatic", "Rp. 140,000,000"],
            ["Ford", "Fiesta", "Automatic", "Rp. 150,000,000"],
            ["Ford", "Focus", "Manual", "Rp. 330,000,000"],
            ["Ford", "Focus", "Manual", "Rp. 335,000,000"],
            ["Ford", "Focus", "Manual", "Rp. 350,000,000"],
            ["Ford", "Focus", "Automatic", "Rp. 360,000,000"],
            ["VW", "Golf", "Manual", "Rp. 350,000,000"],
            ["VW", "Golf", "Automatic", "Rp. 370,000,000"]
            ];
        </textarea>
    </div>
    <div class="column">
        <input type="button" value="Run" onclick="RunClick()" />
    </div>
    <div class="column">
        <div id="result">
            <table id="tbl" border="1">
                <tbody id="tblbody"></tbody>
            </table>
        </div>
    </div>
</div>